.container{
    background-color: lightcoral;
    width: 200px;
    height: 120px;
    display: grid;
    grid-template-columns: 120px 80px;
    grid-template-rows: 45px 45px 30px;
    grid-template-areas: 
    'element number'
    'element weight'
    'name .';
}
.element{
    grid-area: element;
}
.number{
    text-align: right;
    grid-area: number;
    font-size: 200%;
    font-weight: bold;
}
.weight{
    grid-area: weight;
    text-align: right;
    font-size: 200%;
}
.name{
    grid-area: name;
    font-size: 170%;
    font-weight: bold;
}
h1{
    font-size: 85px;
    margin: 5px;
}