table,td{
    border-collapse: collapse;
    border-color: darkmagenta;
    border: 1px solid black;
    width: 150px;
    height: 50px;
}
td{
    border: 1px solid black;
    text-align: left;
    vertical-align: middle;
}
p{
    display: inline;
    float: left;
}
.hamster{
    float: right;
}
.one{
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
}